<section id="calendar">
  <div class="row">
      <div class="col-sm-12">
        <div class="content-header">Users</div>
        <p class="content-sub-header">This is the most basic example having navigation button to navigate next and previous months and today button. This basic
          example lists all the events on the calendar.</p>
      </div>
    </div>
<div class="row">
  <div class="col-6">
Create Users
  </div>
  <div class="col-6" text-center>
      <button type="button" class="btn btn-sm  btn-pink btn-block btn-raised" (click)="CreteUsers(content)" style="width:140px;">+ Configure Users</button>
    </div>
</div>
<div class="row">
    
      <div class="col-12"  *ngFor="let item of UsersList" style="margin-top: -20px;">
          <div class="card" *ngIf="item.Status!='62'" style="padding:10px!important;display: table;box-shadow: 0 6px 0px 0 rgba(0, 0, 0, 0.01), 0 3px 24px 0 rgba(0, 0, 0, 0.89);
          border-radius: 8px!important;cursor: pointer;width: 300px;">
          <div class="row" >
            <div class="col-4">
              <p class="content-sub-header" style="text-transform: capitalize;">{{item.Name}}</p>            </div>
            <!-- <div class="col-3">
                  <p class="content-sub-header" style="text-transform: capitalize;">{{item.EmailID}}</p>

              </div>
              <div class="col-3">
                <p class="content-sub-header" style="text-transform: capitalize;">{{item.MobileNo}}</p>

            </div> -->
              <div class="col-4" style="padding-left: 90px;display: flex;">
                <button class="btn btn-flat btn-text btn-pink" title="Edit" (click)="EditUser(item, content)" style="padding:2px 5px !important">
                  <i class="fa fa-edit" aria-hidden="true"></i>
              </button>
                  <button class="btn btn-flat btn-text btn-pink" title="Active" (click)="Active(item)" style="padding:2px 5px !important" *ngIf="item.Status=='60'">
                      <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                  </button>
                  <button class="btn btn-flat btn-text btn-pink" title="InActive" (click)="InActive(item)" style="padding:2px 5px !important" *ngIf="item.Status=='61'">
                      <i class="fa fa-thumbs-down"  aria-hidden="true"></i>
                  </button>
                  <button class="btn btn-flat btn-text btn-pink" title="Delete" style="padding:2px 5px !important" (click)="Deleteitem(item)">
                      <i class="fa fa-lg fa-trash"></i>
                  </button>
                </div>
          </div>


             
            </div>
        </div>
  </div>
</section>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Users</h4>
    <!-- <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button> -->
  </div>
  <div class="modal-body">
      <form #f="ngForm">  
        <div class="row">
          <div class="col-6">
              <fieldset class="form-group" style="margin-top: -16px;">
                  <label for="basicInput">UserName</label>
                  <input type="text" class="form-control" name="Name" id="Name" [(ngModel)]="Users.Name" required  style="height: 33px">
                </fieldset>
          </div>
          <div class="col-6">
            <fieldset class="form-group" style="margin-top: -16px;">
              <label for="basicInput">MobileNo</label>
              <input type="Number" class="form-control" name="MobileNo" id="MobileNo" [maxlength]="15" [(ngModel)]="Users.MobileNo" required  style="height: 33px">
            </fieldset>
    
             
          </div>
        </div> 
        <div class="row">
            <div class="col-lg-6 col-md-12" style="margin-top: -16px;">
                  <fieldset class="form-group">
                          <label for="basicInput">EmailID</label>
                          <input type="email" class="form-control" name="EmailID" id="EmailID" [(ngModel)]="Users.EmailID" style="height: 33px" required >
                        </fieldset>
            </div>

            <div class="col-lg-6 col-md-12">
              <fieldset class="form-group" style="margin-top: -18px;">
                <label for="basicInput">Password</label>
                <input type="password" class="form-control" name="password" id="password" [(ngModel)]="Users.password" style="height: 33px" required >
              </fieldset>
            </div>
        </div>                                    
         
            <div class="row" style="margin-top: -42px;
            margin-bottom: -31px;">
              <div class="col-6 text-right">
                  <p style="    margin-top: 33px;
                  border: 1px solid #604E98;
                  width: 81px;
                  padding-right: 10px;
                  margin-left: 396px;
                  height: 37px;
                  border-radius: 5px;
                  padding-top: 6px;" (click)="c('Close click')" style="cursor: pointer;
    margin-top: 39px;">Cancel</p>
              </div>
              <div class="col-6">
                  <button type="button" *ngIf="editActive" (click)="c(SaveUsers(content))" class="btn btn-pink btn-block btn-raised" style="height: 39px;
                  margin-top: 32px;width: 113px;" data-dismiss="modal">Update User</button>&nbsp;&nbsp;
                  <button type="button" *ngIf="!editActive" (click)="c(SaveUsers(content))" style="height: 39px;
                  margin-top: 7px;width: 113px;" class="btn btn-pink btn-block btn-raised">Add User</button>&nbsp;&nbsp;
              </div>
            </div>
              
        
        
      </form>           
           

 
  </div>
  <div class="modal-footer">
    <!-- <button type="button" class="btn btn-outline-dark"  (click)="Submit()">Save</button> -->
  </div>
</ng-template>
