<section id="calendar">

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
          <div class="px-3">
              <form class="form" #f="ngForm">
                  <div class="form-body">
                      <!-- "CompanyID" : NumberInt(1), 
                      "Name" : "hivebox", 
                      "Alias_Name" : "test alias", 
                      "LogoURL" : "1RefTApc7nTDxABZohOwWuO8gknRsu75n", 
                      "Country" : "India", 
                      "State" : "Telangana", 
                      "City" : "Hyderabad", 
                      "Address" : "Hivebox Solutions Private Limited II Floor,1-10-197, Suryakamalam,near epf quarters, brahmanwadi,Begumpet, HYDERABAD, IN", 
                      "Pincode" : "500016", 
                      "CompanyType" : NumberInt(47), 
                      "BusinessModelStatus" : NumberInt(3), 
                      "Status" : NumberInt(0),  -->
                    <div class="row">
                      <div class="col-3">
                          <div class="form-group ">
                              <label for="projectinput7">Search By</label>
                                <select id="projectinput7" [(ngModel)]="SearchType" name="Search" class="form-control">
                                    <option value="Name">Company Name</option>
                                    <option value="Country">Country</option>
                                    <option value="State">State</option>
                                    <option value="City">City</option>
                                    <option value="Pincode">Pincode</option>
                                    <!-- <option value="CompanyType">Company Type</option> -->
                                    <!-- <option value="BusinessModelStatus">BusinessModelStatus</option> -->

                                   
                                </select>
                            </div>
                      </div>
                      <div class="col-3">
                          <div class="form-group">
                              <label for="projectinput2">Alias Name
                                  <span class="required">*</span>
                              </label>
                              <input autocomplete="off" type="text" id="projectinput2" class="form-control" required
                                [(ngModel)]="payload.Company.Alias_Name" name="lname">
                            </div>

                        </div>


                    </div>
                  </div>
        
                    </form>
            </div>
         

      </div>
    </div>
  </div>
</div>


  </section>