<section id="calendar">

  <div class="row" style="background: #F2F0C4;margin-left: -32px;
	margin-right: -32px;height:54px">
			<div class="col-2" style="margin-top: 22px;">
					<i class="fa fa-chevron-left btn-pink" aria-hidden="true" style="cursor: pointer;margin-top: -15px;font-size: 36px;" (click)="BackNav()"></i>

			</div>
			<div class="col-4" style="margin-left: -126px;">
					<span class="content-header" >

							<p style="font-weight: lighter">Company Setup</p>
							<!-- <p style=" margin-top: -15px;"><b>{{item.Name}}</b></p> -->
					</span>
			</div>
	</div>
      <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="px-3">
                    <form class="form" #f="ngForm">
                        <div class="form-body">
                            <!-- <h4 class="form-section"> Company Setup</h4> -->

                            <div class="row">
                              <div class="col-8" >
                                  <div class="row">
                                      <div class="col-6">
                                        <div class="form-group">
                                          <label for="projectinput1">Name
              
                                              <span class="required">*</span>
                                          </label>
                                          <input autocomplete="off" style="text-transform: capitalize;" type="text" id="projectinput1" [(ngModel)]="payload.Company.Name" required class="form-control"
                                            name="fname">
                                        </div>
                                        
                                      </div>
                                      <div class="col-6"><div class="form-group">
                                        <label for="projectinput2">Alias Name
                                            <span class="required">*</span>
                                        </label>
                                        <input  style="text-transform: capitalize;" autocomplete="off" type="text" id="projectinput2" class="form-control" required
                                          [(ngModel)]="payload.Company.Alias_Name" name="lname">
                                      </div></div>
                                     
                                    </div>
                                    <div class="row">
                                      <div class="col-6">
                                        <div class="form-group">
                                          <label for="Country">Country
                                              <span class="required">*</span>
                                          </label>
                                          <input style="text-transform: capitalize;" autocomplete="off" type="text" id="Country" required [(ngModel)]="payload.Company.Country" class="form-control"
                                            name="Country">
                                        </div>
                                      </div>
                                      <div class="col-6">
        
                                        <div class="form-group">
                                          <label for="State">State
                                              <span class="required">*</span>
                                          </label>
                                          <input style="text-transform: capitalize;" autocomplete="off" type="text" id="State" class="form-control" required [(ngModel)]="payload.Company.State"
                                            name="State">
                                        </div>
                                      
                                      </div>
                                     
                                    </div>
        
                                    <div class="row">
                                      <div class="col-6">
                                        <div class="form-group">
                                          <label for="City">City
                                              <span class="required">*</span>
                                          </label>
                                          <input autocomplete="off" style="text-transform: capitalize;"  type="text" id="City" class="form-control" required [(ngModel)]="payload.Company.City"
                                            name="City">
                                        </div>
                                        <div class="form-group">
                                            <label for="Pincode">Pincode/Zipcode
                                                <span class="required">*</span>
                                            </label>
                                            <input autocomplete="off" type="number" [maxlength]="10" id="Pincode" class="form-control" required [(ngModel)]="payload.Company.Pincode"
                                              name="Pincode">
                                          </div>
                                      </div>
                                      <div class="col-6">
                                          <div class="form-group">
                                              <label for="Address">Address
                                                  <span class="required">*</span>
                                              </label>
                                              <textarea autocomplete="off" type="text" rows=5 id="Address" required [(ngModel)]="payload.Company.Address" class="form-control"
                                                name="Address"></textarea>
                                            </div>
                                          
                                       
                                      </div>
                                     
                                  </div>
        
                                  <div class="row">
                                    <div class="col-6">
                                        
                                    </div>
                                    <div class="col-6"></div>
                                  
                                  </div>

                              </div>
                              <div class="col-4">
                                  <div  class="row">

                                      <div class="col-12">
                                          <div class="form-group">
                                            <label>Company Type
                                                <span class="required">*</span>
                                            </label>
                                            <div class="input-group">
                                              <label class="display-inline-block custom-control custom-radio ml-1">
                                                <input type="radio" name="CompanyType" class="custom-control-input"
                                                  [(ngModel)]="payload.Company.CompanyType" value="47">
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description ml-0">OEM</span>
                                              </label>
                                              <label class="display-inline-block custom-control custom-radio">
                                                <input type="radio" name="CompanyType" [(ngModel)]="payload.Company.CompanyType" value="48"
                                                  class="custom-control-input">
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description ml-0">Agency Partner</span>
                                              </label>
                                            </div>
                                          </div>
                                        </div>
                                  </div>
                                  <div class="form-group" *ngIf="payload.Company.LogoURL" >
                                      <img id="imageDialog" style="height:150px;width:200px;"  NoImage alt="No Image"
                                      src="{{CompanyTempImage}}" 
                                       alt="Company Logo">

                                  </div>
                                  <!-- <div class="form-group">
                                      <label>Company Logo</label>
                                      <input type="file" class="form-control-file" id="projectinput8">
                                    </div> -->
                                    <div class="form-group text-center"  >
                                            
                                        <div type="submit" #filectrl (change)="fileChangeEvent($event)" class="btn btn-sm ink-reaction btn-floating-action btn-danger float-left">
                                            <span><i class="fa fa-lg fa-camera "></i></span>
                                            <input type="file">
                                        </div>
                                  
                                </div>
                              </div>
                            </div>
            

                  <div class="row">
                    <div class="col-9">

                    </div>
                  
                      <div class="col-3" style="text-align: right;">
                          <button type="button" (click)="BackNav()" class="btn btn-raised   btn-outline-secondary ">
                              Cancel
                            </button>
                          <button type="button"  (click)="UpdateCompanyData()" [disabled]="!f.valid" class="btn btn-pink  btn-raised">
                              Update
                            </button>
                        </div>
                  </div>
                 
                        </div>
      </form>
      </div>
                  </div>
            </div>
        </div>

      </div>
      

  

</section>