<section id="calendar">
    <div class="row" style="background: #F2F0C4;margin-left: -32px;
    margin-right: -32px;height:54px">
        <div class="col-2" style="margin-top: 22px;">
            <i class="fa fa-chevron-left btn-pink" aria-hidden="true" style="cursor: pointer;margin-top: -15px;font-size: 36px;" (click)="BackNav()"></i>

        </div>
        <div class="col-4" style="margin-left: -126px;">
            <span class="content-header" *ngFor="let item of SignleData">

                <p style="font-weight: lighter">ThirdParty Integrations</p>
                <p style=" margin-top: -15px;"><b>{{users.Name}}</b></p>
            </span>
        </div>
    </div>
    <!-- <div class="row" style="background: #F2F0C4;margin-left: -32px;
    margin-right: -32px;">
        <div class="col-2" style="margin-top: 27px;">
            <i class="fa fa-chevron-left" aria-hidden="true" style="cursor: pointer;font-size: 44px;" (click)="BackNav()"></i>

        </div>
        <div class="col-4" style="margin-left: -154px;">
            <p class="content-header">

                <span style="font-weight: lighter">ThirdParty Integrations</span><br> <b>{{users.Name}}</b>
            </p>
        </div>
    </div> -->
    <!-- <div class="row">
      <div class="col-sm-12">
        <div class="">Integrations</div>
        <p class="content-header"><b><i class="fa fa-chevron-left" aria-hidden="true" style="cursor: pointer;" (click)="BackNav()"></i>{{users.Name}}</b></p>      </div>
    </div> -->
    
    <div class="row col-12 py-4">
        <!-- <ckeditor name="Description" [config]="ckeConfig" debounce="500" [(ngModel)]="users.DisplayText">
        </ckeditor> -->
        <ck-editor name="editor1" [(ngModel)]="users.DisplayText" skin="moono-lisa" language="en"
         [fullPage]="true"></ck-editor>

      </div>
      <div class="row">
          <div class="col-12" style="float: right">
              <button type="button" class="btn btn-pink btn-block btn-raised" style="height: 39px;
              margin-top: 32px;width: 156px;" (click)="updateCkeditor()">Update</button>
              
          </div>
      </div>
     
           
    
  </section>