<section id="calendar">
    <div class="row">
        <div class="col-sm-12">
            <div class="content-header">Catlog</div>
            <p class="content-sub-header">Create all the Categories / Sub-Categories of products you service to the customer. Create your own or select from the available master list.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-9">
            
        </div>
        <div class="col-3" text-center>
            <button type="button" class="btn btn-sm  btn-pink btn-block btn-raised" (click)="Cretecategory(content)" style="width:100px;">+ Category</button>
          </div>
    </div>
    <div class="row" style="margin-top:30px">
        <div class="col-sm-12">
            <div class="card text-center" *ngFor="let item of CategorySavedList" style="padding:10px!important;margin-top: -14px;box-shadow: 0 6px 0px 0 rgba(0, 0, 0, 0.01), 0 3px 24px 0 rgba(0, 0, 0, 0.89);
                border-radius: 8px!important;cursor: pointer;width: 430px;">
                <div class="row">
                    <div class="col-2" (click)="DownData(item)" *ngIf="item.SubCategoryList.length>0">
                        <i class="fa fa-arrow-down" aria-hidden="true"></i>
                            <!-- <img [src]="item.Icon" alt="Random third slide" style="width:36px"> -->

                    </div>
                    <div class="col-2" *ngIf="item.SubCategoryList.length==0">
                            
                                <!-- <img [src]="item.Icon" alt="Random third slide" style="width:36px"> -->
    
                        </div>
                    <div class="col-4" style="margin-left: -34px;">
                            <p class="content-sub-header" style="text-transform:capitalize;float:left">{{item.CategoryName}}</p>

                    </div>
                    <div class="col-6" >
                        <!-- <button class="btn btn-flat btn-text btn-pink" title="Edit" style="padding:2px 5px !important">
                            <i class="fa fa-edit" aria-hidden="true"></i>
                        </button> -->
                        <!-- <button class="btn btn-flat btn-text btn-pink" title="Delete" (click)="deleteList(item)" style="padding:2px 5px !important">
                            <i class="fa fa-lg fa-trash"></i>
                        </button>   -->
                        <button class="btn btn-flat btn-text btn-pink" title="Delete" (click)="deletePop(item,Confirm)" style="padding:2px 5px !important">
                                <i class="fa fa-lg fa-trash"></i>
                            </button> 
                        <button class="btn btn-flat btn-text btn-pink" title="Add Subcategory" style="padding:2px 5px !important" (click)="AddSubCategory(item,Subcontent)">
                            <i class="fa fa-plus"></i>
                        </button>

                    </div>
                </div>
                <div *ngIf="item.existData">
                    <div class="row" *ngFor="let pd of item.SubCategoryList">
                        <div class="col-2">                       
    
                        </div>
                        <div class="col-4">
                                <p class="content-sub-header" style="text-transform:capitalize">{{pd.SubcategoryName}}</p><hr>
    
                        </div>
                        <div class="col-6" >
                            <!-- <button class="btn btn-flat btn-text btn-pink" title="Edit" style="padding:2px 5px !important">
                                <i class="fa fa-edit" aria-hidden="true"></i>
                            </button> -->
                            <!-- <button class="btn btn-flat btn-text btn-pink" title="Delete" style="padding:2px 5px !important">
                                <i class="fa fa-lg fa-trash" (click)="DeleteSubList(item,pd)"></i>
                            </button>                        -->
                            <button class="btn btn-flat btn-text btn-pink" title="Delete" style="padding:2px 5px !important">
                                    <i class="fa fa-lg fa-trash" (click)="DeleteSubPopUp(item,pd,SubConfirm)"></i>
                                </button>   
    
                        </div>
                    </div>
                </div>
                
                

            </div>

        </div>
    </div>
</section>


<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title" >Category</h4>     
    </div>
    <div class="modal-body">
        <form #f="ngForm"> 
          <div class="row">
              <div class="col-4">
                  <fieldset class="form-group" style="margin-top: -16px;">
                      <label for="basicInput">Category Name</label>
                      <input type="text" class="form-control" name="Name" id="Name" [(ngModel)]="paylaod.categoryName" required  style="height: 33px;width:230px">
                    </fieldset>
              </div>
              <div class="col-2">
                  <button type="button" style="height: 34px;
                  margin-top: 16px;
                  width: 50px;
                  float: right;
                  margin-right: 179px;" 
                  class="btn btn-pink btn-block btn-raised" (click)="GetParentsCategories()"><i class="fa fa-plus" aria-hidden="true"></i></button>
                      
              </div>
              <div class="col-6" *ngIf="categoryList.length"  style="height: 400px;
              overflow-y: auto;">
                  <table>
                      <tr>
                        <th>CategoryName</th>                        
                      </tr>
                      <tr *ngFor="let item of categoryList" style="cursor: pointer;">
                          <td (click)="clickCategory(item)">{{item.Name}}</td>                        
                        </tr>
                      </table>
                      
              </div>
          </div>         
          <div class="row" style="margin-top: -42px;
          margin-bottom: -31px;">
            <div class="col-6 text-right">
                <p style="    margin-top: 33px;
                border: 1px solid #604E98;
                width: 81px;
                padding-right: 10px;
                margin-left: 396px;
                height: 37px;
                border-radius: 5px;
                padding-top: 6px;" (click)="c('Close click')" style="cursor: pointer;
margin-top: 39px;">Cancel</p>
            </div>
            <div class="col-6">
                    <button type="button" style="height: 39px;
                    margin-top: 30px;width: 127px;" class="btn btn-pink btn-block btn-raised" (click)="AddCategoryData()">Add Category</button>&nbsp;&nbsp;
            </div>
          </div>
             
          
          
        </form>           
             
</div>
   
 
  </ng-template>


  <ng-template #Subcontent let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title" >SubCategory</h4>     
      </div>
      <div class="modal-body">
          <form #f="ngForm"> 
            <div class="row">
                <div class="col-4">
                    <fieldset class="form-group" style="margin-top: -16px;">
                        <label for="basicInput">SubCategory Name</label>
                        <input type="text" class="form-control" name="Name" id="Name" [(ngModel)]="paylaod.SubcategoryName" required  style="height: 33px;width:230px">
                      </fieldset>
                </div>
                <div class="col-2">
                    <button type="button" style="height: 34px;
                    margin-top: 16px;
                    width: 50px;
                    float: right;
                    margin-right: 179px;" 
                    class="btn btn-pink btn-block btn-raised" (click)="GetSubCategories()"><i class="fa fa-plus" aria-hidden="true"></i></button>
                        
                </div>
                <div class="col-6" *ngIf="SubCategoryList.length"  style="height: 400px;
                overflow-y: auto;">
                    <table>
                        <tr>
                          <th>SubCategoryName</th>                        
                        </tr>
                        <tr *ngFor="let item of SubCategoryList" style="cursor: pointer;">
                            <td (click)="clickSubCategory(item)">{{item.Name}}</td>                        
                          </tr>
                        </table>
                        
                </div>
            </div>
           
            <div class="row" style="margin-top: -42px;
            margin-bottom: -31px;">
              <div class="col-6 text-right">
                  <p style="    margin-top: 33px;
                  border: 1px solid #604E98;
                  width: 81px;
                  padding-right: 10px;
                  margin-left: 396px;
                  height: 37px;
                  border-radius: 5px;
                  padding-top: 6px;" (click)="c('Close click')" style="cursor: pointer;
  margin-top: 39px;">Cancel</p>
              </div>
              <div class="col-6">
                    <button type="button" style="height: 39px;
                    margin-top: 30px;width: 158px;" class="btn btn-pink btn-block btn-raised" (click)="AddSubCategoryData()">Add SubCategory</button>
                     &nbsp;&nbsp;
              </div>
            </div>
            
            
            
          </form>           
               
  </div>
     
   
    </ng-template>
    <ng-template #Confirm let-c="close" let-d="dismiss">
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title" >Confirm</h4>     
            </div>
            <div class="modal-body">
                <form #f="ngForm"> 
                  <div class="row">
                   <p>Are You Sure Do You Want to Delete Category?</p>
                  </div>
                 
                  <div class="row" style="margin-top: -42px;
                  margin-bottom: -31px;">
                    <div class="col-6 text-right">
                        <p style="    margin-top: 33px;
                        border: 1px solid #604E98;
                        width: 81px;
                        padding-right: 10px;
                        margin-left: 396px;
                        height: 37px;
                        border-radius: 5px;
                        padding-top: 6px;" (click)="c('Close click')" style="cursor: pointer;
        margin-top: 39px;">Cancel</p>
                    </div>
                    <div class="col-6">
                          <button type="button" style="height: 39px;
                          margin-top: 30px;width: 158px;" class="btn btn-pink btn-block btn-raised" (click)="ConfirmDeleted()">Confirm</button>
                           &nbsp;&nbsp;
                    </div>
                  </div>
                  
                  
                  
                </form>           
                     
        </div>
           
         
          </ng-template>
          <ng-template #SubConfirm let-c="close" let-d="dismiss">
                <div class="modal-header">
                  <h4 class="modal-title" id="modal-basic-title" >Confirm</h4>     
                </div>
                <div class="modal-body">
                    <form #f="ngForm"> 
                      <div class="row">
                       <p>Are You Sure Do You Want to Delete Subcategory?</p>
                      </div>
                     
                      <div class="row" style="margin-top: -42px;
                      margin-bottom: -31px;">
                        <div class="col-6 text-right">
                            <p style="    margin-top: 33px;
                            border: 1px solid #604E98;
                            width: 81px;
                            padding-right: 10px;
                            margin-left: 396px;
                            height: 37px;
                            border-radius: 5px;
                            padding-top: 6px;" (click)="c('Close click')" style="cursor: pointer;
            margin-top: 39px;">Cancel</p>
                        </div>
                        <div class="col-6">
                              <button type="button" style="height: 39px;
                              margin-top: 30px;width: 158px;" class="btn btn-pink btn-block btn-raised" (click)="ConfirmDeletedSub()">Confirm</button>
                               &nbsp;&nbsp;
                        </div>
                      </div>
                      
                      
                      
                    </form>           
                         
            </div>
               
             
              </ng-template>