<section id="calendar">
    <div class="row" style="background: #F2F0C4;margin-left: -32px;
    margin-right: -32px;height:54px">
        <div class="col-2" style="margin-top: 22px;">
            <i class="fa fa-chevron-left btn-pink" aria-hidden="true" style="cursor: pointer;margin-top: -15px;font-size: 36px;" (click)="BackNav()"></i>

        </div>
        <div class="col-4" style="margin-left: -126px;">
            <span class="content-header" *ngFor="let item of SignlePanelList">

                <p style="font-weight: lighter">Omini Channels</p>
                <p style=" margin-top: -15px;"><b>{{item.Name}}</b></p>
            </span>
        </div>
    </div>
    <div class="row" style="margin-top: 30px;">
        <div class="col-6">
      Create Contact
        </div>
        <div class="col-6" text-center  *ngFor="let item of SignlePanelList">
            <button type="button" class="btn btn-sm  btn-pink btn-block btn-raised" (click)="GoToPage(item)" style="width:161px;">+ {{item.Name}}</button>
          </div>
      </div>
      
      <div class="card horizontal" style="height: 113px;cursor: pointer;width: 42%;height: 140px;" *ngFor="let item of ListOfMobileList" (click)="ClickPanelEdit(item)">
        <div class="card-body">
      <div class="row" style="margin-top: -18px;
      margin-left: 214px;">
          <div class="col-6">
              <div class="card horizontal" style="height: 113px;cursor: pointer;width: 200px;background: pink">
                  <div class="card-body">
                      <div class="card-stacked align-self-center">
                          <div class="px-3">
                              <h4 class="card-title" style="text-transform:capitalize">Categories({{item.catLength}})</h4>
  
                          </div>
                      </div>
                  </div>
              </div>
  
          </div> 
          <div class="col-6" style="margin-left:-312px">
              <div class="card horizontal" style="height: 113px;cursor: pointer;width: 200px;background: antiquewhite">
                  <div class="card-body">
                      <div class="card-stacked align-self-center">
                          <div class="px-3" *ngIf="item.RegionList">
                              <h4 class="card-title" style="text-transform:capitalize">Regions({{item.RegionList.length}})</h4>
  
                          </div>
                      </div>
                  </div>
              </div>
  
          </div>              
        </div>
        <div class="row" style="margin-top: -35px;" *ngIf="item.Data">
          <div class="col-6">
              <div class="card horizontal" style="height: 50px;
              cursor: pointer;
              width: 475px;
              margin-left: -429px;
              margin-top: 148px;">
                  <div class="card-body">
                      <div class="card-stacked align-self-center">
                          <div class="px-3" *ngIf="item.Data.ContactList">
                              <h4 class="card-title text-center" *ngFor="let pd of item.Data.ContactList" style="text-transform:capitalize">{{pd.ContactNo}}</h4>
  
                          </div>
                          <div class="px-3" *ngIf="item.Data.EmergencyContactList">
                                <h4 class="card-title text-center" *ngFor="let pd of item.Data.EmergencyContactList" style="text-transform:capitalize">{{pd.ContactNo}}</h4>
    
                            </div>
                            <div class="px-3" *ngIf="item.Data.Email">
                                    <h4 class="card-title text-center"  style="text-transform:capitalize">{{item.Data.Email}}</h4>
        
                                </div>
                                <div class="px-3" *ngIf="item.Data.ComplaintsName">
                                        <h4 class="card-title text-center"  style="text-transform:capitalize">{{item.Data.ComplaintsName}}</h4>
            
                                    </div>
                                    <div class="px-3" *ngIf="item.Data.ServiceName">
                                            <h4 class="card-title text-center"  style="text-transform:capitalize">{{item.Data.ServiceName}}</h4>
                
                                        </div>
                                        <div class="px-3" *ngIf="item.Data.AMCName">
                                                <h4 class="card-title text-center"  style="text-transform:capitalize">{{item.Data.AMCName}}</h4>
                    
                                            </div>
                                            <div class="px-3" *ngIf="item.Data.BillingName">
                                                    <h4 class="card-title text-center"  style="text-transform:capitalize">{{item.Data.BillingName}}</h4>
                        
                                                </div>
                                                <div class="px-3" *ngIf="item.Data.OthersName">
                                                        <h4 class="card-title text-center"  style="text-transform:capitalize">{{item.Data.OthersName}}</h4>
                            
                                                    </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
    </div>
</div>
   
   



</section>