<section id="calendar">

    <div class="container">
    <div class="row" style="margin-top: 20%;">
      <div class="col-2">

      </div>
        <div class="col-2">
logo
        </div>
        <div class="col-8">
          {{CompanyName}}
          </div>
      </div>
<div class="row" style="margin-top:20px;">
    <div class="col-2">
    </div>
  <!-- <div class="col-3">
    <div  (click)="Select(0)" class="card text-center"  style="padding:10px!important;margin-top: -14px;box-shadow: 0 6px 0px 0 rgba(0, 0, 0, 0.01), 0 3px 24px 0 rgba(0, 0, 0, 0.89);
    border-radius: 8px!important;cursor: pointer;">
        <div class="card-body">
            <span class="font-medium-2 text-uppercase">Sample</span>
        </div>
      </div>
  </div> -->
  <div class="col-10">

      <div   class="card text-center"  style="padding:10px!important;margin-top: -14px;box-shadow: 0 6px 0px 0 rgba(0, 0, 0, 0.01), 0 3px 24px 0 rgba(0, 0, 0, 0.89);
      border-radius: 8px!important;cursor: pointer;">
          <div class="card-body">
              <div class="row">
                  <div class="col-6">
                     <p>Choose your site to enter
                      </p>
                  </div>
                  <div class="col-3">
                      <button  (click)="Select(0)"type="button" class="btn btn-raised btn-secondary btn-min-width mr-1 mb-1">Test</button>
                  </div>
                  <div class="col-3">
                      <button (click)="Select(1)" type="button" class="btn btn-raised btn-success btn-min-width mr-1 mb-1">Live</button>
                    </div>
                </div>
          </div>
        </div>

    
    
  </div>
</div>

<div class="row" style="margin-top:5%">
  <div class="col-9">

  </div>
 
      <div class="   col-3 text-right">
          <button (click)="logout()" type="button" class="btn btn-raised btn-danger btn-min-width mr-1 mb-1">Logout</button>
        </div>

</div>
</div>
</section>



  
    
