<section id="calendar">
	<div class="row">
		<div class="col-sm-12">
			<div class="content-header">Settings</div>
			<p class="content-sub-header">Setup how you manage your subscription, API, Brands and more.</p>
		</div>
  </div>
  <!-- <div class="row">
      <div class="col-6">
         Omini Chanales
        </div>
        <div class="col-6">

            <div class="projects-carousel touch-carousel  text-center">
                <div class="portfolio-item item" *ngIf="MobileList.length>0">
                   
                </div>
            </div>
          </div>
    </div> -->
	<div class="row">
    <div class="col-6">
        Customer Facing Essentials&nbsp;<i class="fa fa-arrow-circle-o-right"></i>
      </div>
      <div class="col-6">
          <div class="card text-center" *ngFor="let item of CustomerFacingList" (click)="ClickOmini(item)" style="padding:10px!important;margin-top: -14px;box-shadow: 0 6px 0px 0 rgba(0, 0, 0, 0.01), 0 3px 24px 0 rgba(0, 0, 0, 0.89);
          border-radius: 8px!important;cursor: pointer;">
                            <span class="font-medium-2 text-uppercase">{{item.Name}}</span>
             
            </div>
        </div>
  </div>
  <div class="row" style="margin-top:30px!important">
      <div class="col-6">
          Administrator&nbsp;<i class="fa fa-arrow-circle-o-right"></i>
        </div>
        <div class="col-6">
            <div class="card text-center" *ngFor="let item of AdminList" (click)="AdminNavigate(item)" style="padding:10px!important;margin-top: -14px;box-shadow: 0 6px 0px 0 rgba(0, 0, 0, 0.01), 0 3px 24px 0 rgba(0, 0, 0, 0.89);
            border-radius: 8px!important;cursor: pointer;">
                <div class="card-body">
                    <span class="font-medium-2 text-uppercase">{{item.Name}}</span>
                </div>
              </div>
          </div>
    </div>
    <div class="row" style="margin-top:30px!important">
        <div class="col-6">
            Api And WebHooks&nbsp;<i class="fa fa-arrow-circle-o-right"></i>
          </div>
          <div class="col-6">
              <div class="card text-center" (click)="AdminNavigate(item)" *ngFor="let item of getApiHooksList" style="padding:10px!important;margin-top: -14px;box-shadow: 0 6px 0px 0 rgba(0, 0, 0, 0.01), 0 3px 24px 0 rgba(0, 0, 0, 0.89);
              border-radius: 8px!important;cursor: pointer;">
                  <div class="card-body">
                      <span class="font-medium-2 text-uppercase">{{item.Name}}</span>
                  </div>
                </div>
            </div>
      </div>
	
</section>