<section id="calendar">
    <div class="row" style="background: #F2F0C4;margin-left: -32px;
    margin-right: -32px;height:54px">
        <div class="col-2" style="margin-top: 22px;">
            <i class="fa fa-chevron-left btn-pink" aria-hidden="true" style="cursor: pointer;margin-top: -15px;font-size: 36px;" (click)="BackNav()"></i>
  
        </div>
        <div class="col-4" style="margin-left: -126px;">
            <span class="content-header" >
  
                <p style="font-weight: lighter">Create API Key</p>
                <!-- <p style=" margin-top: -15px;"><b>{{item.Name}}</b></p> -->
            </span>
        </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <!-- <div class="content-header">Create API Key</div>
   -->
        <div class="row">
          <div class="col-7">
              <!-- [ngClass]="{'card card-body active': payload.TokenType=='37','card card-body': payload.TokenType!='37'}" -->
            <div class="row">
              <div class="col-12">
                  <div style="margin-bottom: 0px;padding:5px;height: 75px;"  class="card card-body"     >

                      <div  class="row">
                        <div class="col-1">
                            <input type="radio" style="float: left;margin-top: 10px;" name="demo" class="radio"   [(ngModel)]="payload.TokenType"  value="37" id="demo1">
                        </div>
                        <div class="col-10">
                            <div >
                                <p class="red " style="margin:0px" >
                                    Publishable Key
              
                                </p>
                             
                                <p style="font-size:12px;margin:0px">
                                    Allows API calls from web broswers. Create new tickets/transactions and more
              
                                </p>
                            </div>
                         </div>
                      </div>
                      
                      
  
                        
        
                        </div>
                  
              </div>
            
               
  
            </div>


            <div class="row">
                <div class="col-12">
                    <div style="margin-bottom: 0px;padding:5px;height: 75px; margin-top: 5px;"    class="card card-body">
  
                        <div  class="row">
                          <div class="col-1">
                              <input type="radio" name="demo" class="radio"  style="margin-top:10px;"  [(ngModel)]="payload.TokenType"  value="36" id="demo1">
                          </div>
                          <div class="col-10">
                              <div >
                                  <p class="red " style="margin:0px" >
                                      Full Access Key
                                  </p>
                               
                                  <p style="font-size:12px;margin:0px">
                                      Allows full access to data. Recommended if you are using the API key with your own application
                
                                  </p>
                              </div>
                           </div>
                        </div>
                        
                        
    
                          
          
                          </div>
                    
                </div>
              
                 
    
              </div>

              <div class="row">
                  <div class="col-12">
                      <div style="margin-bottom: 0px;padding:5px;height: 75px;margin-top: 5px;"   class="card card-body">
    
                          <div  class="row">
                            <div class="col-1">
                                 <input type="radio" name="demo" class="radio"  style="margin-top:10px;"  [(ngModel)]="payload.TokenType"  value="38" id="demo1">
                            </div>
                            <div class="col-10">
                                <div >
                                    <p class="red " style="margin:0px" >
                                        Read Only Key
  
                                    </p>
                                 
                                    <p style="font-size:12px;margin:0px">
                                        Allows read-only access to your data. You can allow access to transactional/configuration data  from the server
                  
                                    </p>
                                </div>
                             </div>
                          </div>
                          
                          
      
                            
            
                            </div>
                      
                  </div>
                
                   
      
                </div>

          

              
               
          </div>
          <div class="col-3">


            <div class="col-md-12" style="margin-top: 100px;">
              <button type="button" (click)="popupName2(content)" class="btn btn-pink btn-block btn-raised">Create Key</button>

              <button type="button" (click)="Cancel()"  class="btn btn-raised btn-block  btn-outline-secondary ">Cancel</button>
          </div>
          </div>
        </div>
         
      </div>
    </div>
  </section>
    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Create API Key</h4>
          <!-- <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button> -->
        </div>
        <div class="modal-body">
            <form #f="ngForm">  
              
              <div class="row">
                  <div class="col-lg-12 col-md-12" style="margin-top: -16px;">
                        <fieldset class="form-group">
                                <label for="basicInput">API Name</label>
                                <input type="text" class="form-control" name="DisplayName" id="DisplayName" [(ngModel)]="payload.APIName" style="height: 33px" required >
                              </fieldset>
                  </div>
    
                  
              </div>     
              <div class="row">
                  <div class="col-6">
                    
                  </div>
                <div class="col-6" style="text-align: right;"> 
                    <button class="btn btn-raised   btn-outline-secondary " style="height: 39px;
                      margin-top: 7px;"  (click)="c('Close click')">Cancel</button>
                      <button type="button"   class="btn btn-pink btn-raised" style="height: 39px;
                      margin-top: 7px;"  (click)="c(createAPIKey())" data-dismiss="modal">Create</button>
                </div>
              


              </div>                               
               
                  
                    
              
              
            </form>           
                 
    
       
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-outline-dark"  (click)="Submit()">Save</button> -->
        </div>
      </ng-template>