<section id="calendar">
    <div class="row">
      <div class="col-sm-12">
        <div class="content-header">Create API Key</div>
  
        <div class="row">
          <div class="col-7">

              <label (click)="popupName(content,37)">
                  <input type="radio" name="demo" class="card-input-element d-none" id="demo1">
                  <div style="margin-bottom: 0px;"  class="card card-body bg-light d-flex flex-row justify-content-between align-items-center">
                  <p class="red " >
                      Publishable Key

                  </p>
               
                  <p style="font-size:12px">
                      Allows API calls from web broswers. Create new tickets/transactions and more

                  </p>
                  </div>
                  </label>
                <label class="mt-3" (click)="popupName(content,36)">
                  <input type="radio" name="demo" class="card-input-element d-none" value="demo2">
                  <div  style="margin-bottom: 0px;" class="card card-body bg-light d-flex flex-row justify-content-between align-items-center">
                      <p class="red" >
                          Full Access Key

    
                      </p>
                   
                      <p style="font-size:12px">
                          Allows full access to data. Recommended if you are using the API key with your own application

    
                      </p>
                  </div>
                  </label>
                  <label class="mt-3"  (click)="popupName(content,38)" >
                      <input type="radio" name="demo" class="card-input-element d-none" value="demo2">
                      <div  style="margin-bottom: 0px;" class="card card-body bg-light d-flex flex-row justify-content-between align-items-center">
                          <p class="red" >
                              Read Only Key

    
        
                          </p>
                      
                          <p style="font-size:12px">
                              Allows read-only access to your data. You can allow access to transactional/configuration data  from the server

    
        
                          </p>
                      </div>
                      </label>
          </div>
          <div class="col-3">


            <div class="col-md-12" style="margin-top: 100px;">
              <button type="button" (click)="popupName2(content)" class="btn btn-pink btn-block btn-raised">Create Key</button>

              <button type="button" class="btn btn-raised btn-block  btn-outline-secondary ">Cancel</button>
          </div>
          </div>
        </div>
         
      </div>
    </div>
  </section>
    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Create API Key</h4>
          <!-- <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button> -->
        </div>
        <div class="modal-body">
            <form #f="ngForm">  
              
              <div class="row">
                  <div class="col-lg-12 col-md-12" style="margin-top: -16px;">
                        <fieldset class="form-group">
                                <label for="basicInput">API Name</label>
                                <input type="text" class="form-control" name="DisplayName" id="DisplayName" [(ngModel)]="payload.APIName" style="height: 33px" required >
                              </fieldset>
                  </div>
    
                  
              </div>     
              <div class="row">
                  <div class="col-6">
                      <button type="button"   class="btn btn-pink btn-block btn-raised" style="height: 39px;
                      margin-top: 7px;"  (click)="c(createAPIKey())" data-dismiss="modal">Create</button>
                  </div>
                <div class="col-6"> 
                  <button class="btn btn-pink btn-block btn-raised" style="height: 39px;
                  margin-top: 7px;"  (click)="c('Close click')">Cancel</button>
                </div>
              


              </div>                               
               
                  
                    
              
              
            </form>           
                 
    
       
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-outline-dark"  (click)="Submit()">Save</button> -->
        </div>
      </ng-template>