<!--Registration Page Starts-->
<section class="PreloginBackGroundColor"
id="regestration">

<div class="row"  style="width:60px">
        <div class="col-12">
            <div style="height:60px;width:100px;background: white;margin-top:10px;margin-left:10px;">
                    <img alt="logo" src="{{logoUrl}}" style="height:60px;width:100px" >
            </div>
            
       </div>
      </div>

    <div class="container">
        <div class="row full-height-vh">
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="card">
                    <div class="card-body">
                        <div class="row d-flex">
                            <div class="col-12 col-sm-12 col-md-6 gradient-deep-orange-orange">
                                <div class="card-block">
                                    <div class="card-img overlap" style="background:white;">  
                                        <img alt="Card image cap" style="padding: 25px;" src="{{logoUrlBig}}" width="350" class="mx-auto d-block">
                                    </div>
                                    <h2 class="card-title font-large-1 text-center white mt-3">Registration</h2>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-6 d-flex align-items-center">
                                <div class="card-block mx-auto">
                                    <form  style="padding-top:20px;"  (ngSubmit)="Signup()" #f="ngForm">
                                            <fieldset class="form-group" style="margin-top: -16px;">
                                                    <label for="basicInput">What is your  name
                                                        </label>
                                                   
                                                    <input type="text" required class="form-control" name="Name" id="fname"    style="height: 33px"  [(ngModel)]="payload.User.Name" />
                                                  </fieldset>
                                                  <fieldset class="form-group" style="margin-top: -16px;">
                                                        <label for="basicInput">What is your Email adrress
                                                            </label>
                                                       
                                                        <input type="text" class="form-control" 
                                                        
                                                        
                                                        name="EmailID" required id="inputEmail"  [(ngModel)]="payload.User.EmailID"   style="height: 33px"  />
                                                      </fieldset>
                                                      <fieldset class="form-group" style="margin-top: -16px;">
                                                            <label for="basicInput">Password
                                                                </label>
                                                           
                                                            <input type="password" required class="form-control" name="inputPass" id="inputPass"  [(ngModel)]="payload.User.Password"   style="height: 33px"  />
                                                          </fieldset>
                                        
                                        <div class="form-group col-sm-offset-1">
                                            <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                                                <input type="checkbox" class="custom-control-input"  (change)="terms = !terms" [checked]="terms" >
                                                <span class="custom-control-indicator"></span>
                                                <span class="pl-2">I agree <a>terms and conditions</a></span>
                                            </label>
                                        </div>
                                        <div class="form-group text-center">
                                            <button type="button" (click)="Signup()" class="btn btn-pink btn-block btn-raised" >Complete Setup</button>
                                            <button type="button" class="btn btn-raised btn-block  btn-outline-secondary ">Cancel</button>
                                        </div>

                                        <!-- <div class="form-group text-center"  style="display:none" >
                                            
                                                <div type="submit" #filectrl (change)="fileChangeEvent($event)" class="btn btn-sm ink-reaction btn-floating-action btn-danger float-left">
                                                    <span><i class="fa fa-lg fa-camera "></i></span>
                                                    <input type="file">
                                                </div>
                                          
                                        </div> -->
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Registration Page Ends-->