<!--Calendar Starts-->
<section id="calendar">
	<div class="row">
		<div class="col-sm-12">
			<div class="content-header">API and Webhooks</div>
			<!-- <p class="content-sub-header">This is the most basic example having navigation button to navigate next and previous months and today button. This basic
				example lists all the events on the calendar.</p> -->
		</div>
	</div>
	<div class="row">
		<div class="col-6">
	 
		</div>
		<div class="col-6" text-center>
			<button type="button"  (click)="NavigateToAdd()" class="btn btn-sm  btn-pink btn-block btn-raised" style="width:100px;">+ API Key</button>
		  </div>
	  </div>
	  <div class="row">
      
        <div class="col-9" *ngFor="let item of ALLAPIkeys" style="margin-top: -29px;">
            <div class="card" *ngIf="item.Status!='52'" style="padding:10px!important;box-shadow: 0 6px 0px 0 rgba(0, 0, 0, 0.01), 0 3px 24px 0 rgba(0, 0, 0, 0.89);
            border-radius: 8px!important;cursor: pointer;">
            <div class="row" >
              <div class="col-4">
				<p class="content-sub-header" style="text-transform: capitalize;">{{item.APIName}}</p>
				<!-- <span class="font-medium-2 text-uppercase">{{item.Name}}</span> -->
              </div>
              <div class="col-4">
				<a  class="btn btn-raised  btn-outline-secondary">{{item.Name}}</a>

                </div>
                <div class="col-4" style="padding-left: 90px;">
                    <button  (click)="ChangesStatusLabel(content,item,40)"  *ngIf="item.TokenStatus==41" class="btn btn-flat btn-text btn-pink" title="Enable"  style="padding:2px 5px !important" >
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                    </button>
                    <button  (click)="ChangesStatusLabel(content,item,41)" *ngIf="item.TokenStatus==40" class="btn btn-flat btn-text btn-pink" title="Disable"  style="padding:2px 5px !important" >
                        <i class="fa fa-thumbs-down"  aria-hidden="true"></i>
                    </button>
					<button *ngIf="item.TokenStatus!=42&&itemTokenType!=36"  (click)="ChangesStatusLabel(content,item,42)"class="btn btn-flat btn-text btn-pink" title="InActive"  style="padding:2px 5px !important" >
                        <i class="fa fa-lg fa-trash"  aria-hidden="true"></i>
                    </button>
                  </div>
            </div>
			<div class="row" >
				<div class="col-11">
					<p>{{item.Token}}</p>
				</div>
				<div class="col-1">
						<button class="btn btn-flat btn-text btn-pink"  (click)="copyMessage(item.Token)" title="Copy To Clipboard" style="padding:2px 5px !important" >
								<i class="far fa-clipboard" style="font-size:16px;"></i>
							</button>
					</div>
			</div>
 
               
              </div>
          </div>
    </div>
</section>


<ng-template #content let-c="close" let-d="dismiss">
	<div class="modal-header">
	  <h4 class="modal-title" id="modal-basic-title">{{StatusChangeLabel}} API Key</h4>
	  <!-- <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
		<span aria-hidden="true">&times;</span>
	  </button> -->
	</div>
	<div class="modal-body">
		<form #f="ngForm">  
		  
		  <div class="row">
			  <div class="col-lg-12 col-md-12" style="margin-top: -16px;">
				<p>
					{{StatusContent}}
				</p>
			  </div>

			  
		  </div>     
		  <div class="row">
					<div class="col-6"> 
							
						</div>
			  <div class="col-6" style="text-align: right;">
						<button class="btn btn-raised  btn-outline-secondary " style="height: 39px;
						margin-top: 7px;"  (click)="c('Close click')">Cancel</button>
				  <button type="button"   class="btn btn-pink  btn-raised" style="height: 39px;
				  margin-top: 7px;"  (click)="c(ChangeAPIStatus(SelectedKey))" data-dismiss="modal">{{StatusChangeLabel}}</button>
			  </div>
			
		  


		  </div>                               
		   
			  
				
		  
		  
		</form>           
			 

   
	</div>
	<div class="modal-footer">
	  <!-- <button type="button" class="btn btn-outline-dark"  (click)="Submit()">Save</button> -->
	</div>
  </ng-template>
<!--Calendar Ends-->